@page "/"

@using Microsoft.AspNetCore.SignalR.Client

@inject Microsoft.Extensions.Configuration.IConfiguration config

<h1>@commitMessage</h1>



@code { 
    private HubConnection hubConnection;    

    private string commitMessage = string.Empty;

    protected override async Task OnInitializedAsync() 
    {
        hubConnection = new HubConnectionBuilder().WithUrl(config["ApiBaseUrl"]).Build();

        hubConnection.On<GitMessage>("gitMessage", (gitMessage) =>
        {
            commitMessage = gitMessage.Message;
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    public bool IsConnection => hubConnection.State == HubConnectionState.Connected;

    public class GitMessage {
        public string Message {get; set;}
    }
}