@page "/"

@using Microsoft.AspNetCore.SignalR.Client

<h1>@hubConnection.State</h1>



@code { 
    private HubConnection hubConnection;
    private readonly string functionAppBaseUri = "http://localhost:7071/api/";

    protected override async Task OnInitializedAsync() 
    {
        hubConnection = new HubConnectionBuilder().WithUrl(functionAppBaseUri).Build();

        hubConnection.On<GitMessage>("gitMessage", (gitMessage) =>
        {
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    public bool IsConnection => hubConnection.State == HubConnectionState.Connected;

    public class GitMessage {
        public string Message {get; set;}
    }
}