@page "/"

@using Microsoft.AspNetCore.SignalR.Client

@inject Microsoft.Extensions.Configuration.IConfiguration config

<div class="commit">
    <strong>@repo</strong> - @commitMessage
</div>



@code { 
    private HubConnection hubConnection;    

    private string commitMessage = string.Empty;
    private string repo = string.Empty;

    protected override async Task OnInitializedAsync() 
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(config["ApiBaseUrl"])
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<GitMessage>("gitMessage", (gitMessage) =>
        {
            commitMessage = gitMessage.Message;
            repo = gitMessage.Repository;
            
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    public bool IsConnection => hubConnection.State == HubConnectionState.Connected;

    public class GitMessage {
        public string Message {get; set;}
        public string Repository {get; set;}
    }
}